:root {


    /* ======= */
    /* Numbers */
    /* ======= */

    --defaultSize: 45px;
    --default2xSize: calc(var(--defaultSize)*2);

    --defaultCardStatsSize: 20vw;
    --marginCard: 20px;

    --defaultTipCardSizeW: 60vw;
    --defaultTipCardSizeH: 60vh;

    --fontSize: x-large;
    --fontSize2: x-large;
    --fontSize3: xx-large;
    

    /* ====== */
    /* Colors */
    /* ====== */

    --color1: #68b2f8;
    --color2: #506ee5;
    --color3: #7037cd;
    --color4: #651f71;
    --color5: #3B0944;

    --pieceColor: white;


    /* ===== */
    /* Geral */
    /* ===== */


    --display: flex;
}

*{
    font-family: acumin-pro, system-ui, sans-serif;
}

html{
    min-height: 2.520px;
    max-width: 2520px;
    scroll-behavior: smooth;
}

body{
    /* min-height: 100%; */
    margin: 0;
    padding: 0;

    width: 2520px;
    width: auto;
    
    /* overflow: auto; */
    /* width: 100%;
    height: 100%; */
}

.main{

    height: 100vh;
    max-width: 200vw;
    width: auto;

    /* width:100%; */
    /* width: 100vw; */
    
    /* min-width: 100vw;  */
    /* max-width: 2520px; */
 

    
    /* height: auto; */

    display: flex;

    align-items: center;
    
    justify-content: center;

    background: radial-gradient(circle, var(--color1) 0%, var(--color2)  70%, var(--color3) 100%);

    overflow: auto;
    /* overflow-X: scroll;  */
}


#table {
    /* background-color: blue; */
    width: auto;
    height: auto;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    vertical-align: middle;

    justify-content: center;

    margin: 90px;
    
    
}

.menu {
    display: flex;

    
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    height: 100%;

    z-index: 22;
}

#menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    z-index: 22;    

}

#menu button {

    font-size: var(--defaultSize);
    padding: 30px;
    margin: 20px;
    color: black; 

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    cursor: pointer;
}

.piece {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--pieceColor);

    border: 2px solid black;
    border-radius:  5px;

    margin: 0.5px;
}

.handbox{
    width: 100vw;
    height: 0px;
    display: flex;
    justify-content: center;
}

.player2HandInner .handSlot{
    margin: 0 2px 0 2px;
    background: white;
    border-radius:  5px;
    border: solid black 2px;
}

.player2{
    top: 10px;
}

.player1{
    bottom: 10px;
}

.hand{
    z-index: 20;
    
    position: fixed;
    flex-direction: row;
    display: flex;

    width: auto;
    min-width: 55px;
    min-height: 90px;
    padding: 5px;
    
    
     
    background: radial-gradient(circle, var(--color3) 0%, var(--color4)  70%, var(--color5) 100%);

    
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.hand .handSlot{
    margin: 0 2px 0 2px;
    background: white;
    border-radius:  5px;
    border: solid black 2px;

    max-height: 92px;

    transition: 2s
}







.UsableRectangleW{
    height: var(--default2xSize);
    height: var(--defaultSize);

    flex-direction: row;
}

.UsableRectangleH{
    height: var(--default2xSize);
    width: var(--defaultSize);
    
    flex-direction: column;
}






.sideUp {
    width: var(--defaultSize);
    height: var(--defaultSize);
    max-width: var(--defaultSize);
    max-height: var(--defaultSize);

    border-bottom: solid black 1px;
}

.sideDown {
    width: var(--defaultSize);
    height: var(--defaultSize);
    max-width: var(--defaultSize);
    max-height: var(--defaultSize);

    border-top: solid black 1px;
}

.sideLeft{
    width: var(--defaultSize);
    height: var(--defaultSize);
    max-width: var(--defaultSize);
    max-height: var(--defaultSize);

    border-top: solid black 1px;

    rotate: 90deg;
}

.sideRight{
    width: var(--defaultSize);
    height: var(--defaultSize);
    max-width: var(--defaultSize);
    max-height: var(--defaultSize);

    border-bottom: solid black 1px;

    rotate: 90deg;
}






.hand .handSlot .sideLeft, .hand .handSlot .sideRight{
    rotate: unset;
}

.hand .playable {

    margin-bottom: 25px;

    color: var(--pieceColor);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}



#dropArea{
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

}


.dropAreaInner{
    width: 100vw;
    width: 50vw;
    
    /* background-color: black; */

    z-index: 1;
}   



.card{
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;

    z-index: 40;


    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cardInner{
    color: var(--color1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 45vw;
    height: 45vh;


    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cardInner h1 {
    margin:20px;
    justify-content: center;
    text-align: center;
    
    font-size: 4vh; 
}

.cardInner button {
    color: var(--color1);
    background-color: transparent;

    justify-content: center;
    text-align: center;
    
    font-size: 4vh;

    margin-top: 2vh;
    padding: 3vh; 
    border-radius: 3vh; 

    border: var(--color1) solid;
    

    cursor: pointer;

}



.cardStats {
    position: fixed;
    right: 0;
    top: 0;

    margin: var(--marginCard);

    
    width: var(--defaultCardStatsSize);
    height: auto; 
    /* height: 20vh; */

    color: var(--color1);


    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 20px;
}

.cardStats h1{
    font-size: var(--fontSize2);
}


.howToPlay{
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 20;
}

.howToPlayInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: var(--defaultTipCardSizeW);
    height: var(--defaultTipCardSizeH);

    color: var(--color1);

    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tipsText{
    margin-top: 5rem;
}

.tipsText h1 {
    margin: 2rem;
    font-size: var(--fontSize2);
    text-align: center;
}




.buyable {
    position: fixed;
    right: 0;
    top: 0;
    margin: var(--marginCard);

    width: auto;
    height: 100vh;


    display: flex;

    align-items: center;
    justify-content: center;


    z-index: 100;
}

#buyableInner {
    height: auto;

    display: flex;
    flex-direction: column;

    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} 

#pieceRef{

    display: flex;
    
    justify-content: center;
    align-items: center;
}

        


#pieceRefInner {

    margin: var(--marginCard);

    width: var(--defaultSize);
    height: var(--default2xSize);


    background-color: var(--pieceColor);

    border-radius:  5px;
    border: solid black 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pieceRefInner h1{

    color: var(--color5);

    font-size: var(--fontSize3);
}



#drawPieceBtn{

    margin: 20px;
    padding: 10px;


    font-size: var(--fontSize);
    color: var(--color1);

    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );

    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    cursor: pointer;

}
  
.buttonConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.btnDefalt{

    margin: var(--marginCard);
    padding: calc(var(--marginCard)/2);

    width:auto;

    font-size: var(--fontSize);
    color: var(--color1);

    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );

    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    cursor: pointer;

}





















.classNone {
    display: none;
}




/* Mobile View */
@media screen and (max-width: 899px) {
    :root{
        --defaultSize: 30px;
        --default2xSize: calc(var(--defaultSize)*2);


        --defaultCardStatsSize: 15vw;
        --marginCard: 10px;
        --defaultMargin-top: 15vh;
        --defaultWidth: 10vh;
        
        --defaultTipCardSizeW: 80vw;
        --defaultTipCardSizeH: 40vh;
    
        
        --fontSize: small;
        --fontSize2: smaller;
        --fontSize3: x-large;

    }

    .statsMobileMode {
        left: 0;
        margin-top: var(--defaultMargin-top);
        /* width: var(--defaultWidth); */
    }
    
    .buyableMobileMode{
        height: unset;
        margin-top: var(--defaultMargin-top);
        /* width: var(--defaultWidth); */
    }
    
    .buyableMobileModeInner{
        top:0;
    }
}