:root {

    /* ====== */
    /* Colors */
    /* ====== */

    --color1: #68b2f8;
    --color2: #506ee5;
    --color3: #7037cd;
    --color4: #651f71;
    --color5: #3B0944;

    --pieceColor: white;
}

html{
    min-height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;

    display: flex;

    align-items: center;
    
    justify-content: center;

    background: radial-gradient(circle, var(--color1) 0%, var(--color2)  70%, var(--color3) 100%);
}

#table {
    /* background-color: blue; */
    width: auto;
    height: auto;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    vertical-align: middle;

    justify-content: center;
}

.menu {
    display: flex;

    
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    height: 100%;

    z-index: 22;
}

#menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    z-index: 22;    

}

#menu button {

    font-size: 45px;
    padding: 30px;
    margin: 20px;
    color: black; 

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    cursor: pointer;
}

.piece {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--pieceColor);

    border: 2px solid black;
    border-radius:  5px;

    margin: 0.5px;
}

.handbox{
    width: 100vw;
    height: 0px;
    display: flex;
    justify-content: center;
}

.player2HandInner .handSlot{
    margin: 0 2px 0 2px;
    background: white;
    border-radius:  5px;
    border: solid black 2px;
}

.player2{
    top: 10px;
}

.player1{
    bottom: 10px;
}

.hand{
    z-index: 20;
    
    position: fixed;
    flex-direction: row;
    display: flex;

    width: auto;
    min-width: 55px;
    min-height: 90px;
    padding: 5px;
    
    
     
    background: radial-gradient(circle, var(--color3) 0%, var(--color4)  70%, var(--color5) 100%);

    
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.hand .handSlot{
    margin: 0 2px 0 2px;
    background: white;
    border-radius:  5px;
    border: solid black 2px;

    max-height: 92px;

    transition: 2s
}







.UsableRectangleW{
    width: 92px;
    width: 90px;

    height: 45px;

    flex-direction: row;
}

.UsableRectangleH{
    height: 92px;
    height: 90px;

    width: 45px;
    
    flex-direction: column;
}






.sideUp {
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;

    border-bottom: solid black 1px;
}

.sideDown {
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;

    border-top: solid black 1px;
}

.sideLeft{
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;

    border-top: solid black 1px;

    rotate: 90deg;
}

.sideRight{
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;

    border-bottom: solid black 1px;

    rotate: 90deg;
}




.classNone {
    display: none;
}


.hand .handSlot .sideLeft, .hand .handSlot .sideRight{
    rotate: unset;
}

.hand .playable {

    margin-bottom: 20px;

    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}



#dropArea{
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
}


.dropAreaInner{
    width: 100vw;
    width: 50vw;
    
    /* background-color: black; */

    z-index: 1;
}   

/* #left{
    border-right: 2px solid black;
}


#right{
    border-left: 2px solid black;

} */